In [ ]:
program 1

In [1]:
 
 
 
a=1
 
 
 
print("the value of",a,"is of the type",type(a))
 
 
 
b="hello"
 
 
 
print("the value of",b,"is of the type",type(b))
 
 
 
c=3.14
 
 
 
print("the value of",c,"is of the type",type(c))
 
 
 
d=2j
 
 
 
print("the value of",d,"is of the type",type(d))
 
 
 
e={"ads","web","python"}
 
 
 
print("the value of",e,"is of the type",type(e))
 
 
 
f=("ads","web","python")
 
 
 
print("the value of",f,"is of the type",type(f))
 
 
 
g=["ads","web","python"]
 
 
 
print("the value of",g,"is of the type",type(g))
 
 
 
h=range(5)
 
 
 
print("the value of",h,"is of the type",type(h))
 
 
 
i=True
 
 
 
print("the value of",i,"is of the type",type(i))

the value of 1 is of the type <class 'int'>
the value of hello is of the type <class 'str'>
the value of 3.14 is of the type <class 'float'>
the value of 2j is of the type <class 'complex'>
the value of {'python', 'ads', 'web'} is of the type <class 'set'>
the value of ('ads', 'web', 'python') is of the type <class 'tuple'>
the value of ['ads', 'web', 'python'] is of the type <class 'list'>
the value of range(0, 5) is of the type <class 'range'>
the value of True is of the type <class 'bool'>

In [ ]:
Program 2

In [ ]:
 print('Hello, world!')

Hello, world!

In [ ]:
program 3

In [ ]:
 num=int(input("Enter the integer: "))
print('interger is',num)

Enter the integer: 5
interger is 5

In [ ]:
program 4

In [ ]:
a = int(input("enter the number 0f a="))4
b =int(input("enter the number 0f b="))
sum = a+b
print("sum of two number=",sum)

enter the number 0f a=2
enter the number 0f b=2
sum of two number= 4

In [ ]:
program 5

In [3]:
a = float (input("enter the number 0f a="))
b =float (input("enter the number 0f b="))
mul = a*b
print("multiplication of two number=",mul)

enter the number 0f a=4
enter the number 0f b=4
multiplication of two number= 16.0

In [ ]:
program 6

In [ ]:
divisor = int (input("enter the number"))
dividend = int (input("enter the number"))
quotient = dividend//divisor
reminder = dividend % divisor
print("Quotient is", quotient)
print("Reminder is",reminder)

enter the number3
enter the number27
Quotient is 9.0
Reminder is 0

In [ ]:
program 7

In [ ]:
a = int(input("enter the number 0f a"))
b =int(input("enter the number 0f b"))
print("before swapping\na=", a, " b=", b)
temp = a
a = b
b = temp
print("\nafter swapping\na=", a, " b=", b)

enter the nymber 0f a5
enter the nymber 0f b6
before swapping
a= 5  b= 6

after swapping
a= 6  b= 5

In [ ]:
program 8

In [4]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num,"is even")
else:
   print(num,"is odd")

Enter a number: 4
4 is even

In [ ]:
program 9

In [ ]:
ch=input("Please enter the character as you wish: ")
if(ch== 'a'or ch== 'A'or ch== 'e'or ch== 'E'or ch== 'i' or ch=='I' or ch=='o' or ch=='O' or ch=='u' or ch=='U'):
   print("The given character ",ch," is  the vowel")
else:
    print("The given character ",ch," is  consonant")

Please enter the character as you wish: y
The given character  y  is  consonant

In [ ]:
program 10

In [ ]:
num1 = int(input("Enter first number: "))           
num2 = int(input("Enter second number: "))          
num3 = int(input("And Enter third number: "))  
if (num1 > num2) and (num1 > num3):
   max = num1
elif (num2 > num1) and (num2 > num3):
   max = num2
else:
   max = num3
print("The largest among these three numbers is",max)

Enter first number: 3
Enter second number: 4
And Enter third number: 5
The largest among these three numbers is 5

In [ ]:
program 11

In [ ]:
year = int(input("Please Enter the Year Number : "))
 
if (( year%4 == 0)):
    print(year,"is a Leap Year")
else:
    print(year,"is Not the Leap Year")

Please Enter the Year Number : 2020
2020 is a Leap Year

In [ ]:
program 12

In [ ]:
n = int(input("enter the number:"))
if n > 0: 
        print("Positive") 
elif n < 0: 
        print("Negative") 
else: 
        print("Equal to zero")

enter the number:-9
Negative

In [ ]:
program 13

In [ ]:
number = int(input("Please Enter any Number: "))
sum=0
for value in range(1, number + 1):
    sum= sum + value

print("The Sum of Natural Numbers",sum)

Please Enter any Number: 2
The Sum of Natural Numbers 3

In [ ]:
program 14

In [ ]:
n = int(input("Enter number:"))
if(n <= 1):
        return 1
else:
        return(n*factorial(n-1))
print("Factorial:")
print(factorial(n))

Enter number:-5
Factorial:
1

In [ ]:
program 15

In [6]:
num=int(input("Enter an integer"))
for i in range(1,11):
    print(num,'X', i,' = ',num*i)

Enter an integer2
2 X 1  =  2
2 X 2  =  4
2 X 3  =  6
2 X 4  =  8
2 X 5  =  10
2 X 6  =  12
2 X 7  =  14
2 X 8  =  16
2 X 9  =  18
2 X 10  =  20

In [ ]:
program 16

In [ ]:

num = int(input("How many terms? "))

# first two terms
n1 = 0
n2 = 1
count = 0

if num <= 0:
   print("Please enter a positive integer")
elif num == 1:
   print("Fibonacci sequence ")
   print(n1)
else:
   print("Fibonacci sequence:")
   for value in range(1, num+1,):
       print(n1)
       n3 = n1 + n2
       
       n1 = n2
       n2 = n3

How many terms? 3
Fibonacci sequence:
0
1
1

In [ ]:
program 17

In [ ]:
 a = float(input(" Please Enter the First Value a: "))
b = float(input(" Please Enter the Second Value b: "))

if(a > b):
    maximum = a
else:
    maximum = b

while(True):
    if(maximum % a == 0 and maximum % b == 0):
        print("\n LCM of ",a,"and",b, "=" ,maximum)
        break;
    maximum = maximum + 1

 Please Enter the First Value a: 54
 Please Enter the Second Value b: 24

 LCM of  54.0 and 24.0 = 216.0

In [ ]:
program 18

In [ ]:
n=int(input("Enter number:"))
count=0
while(n>0):
    count=count+1
    n=n//10
print("The number of digits in the number are:",count)

Enter number:456
The number of digits in the number are: 3

In [ ]:
program 19

In [ ]:
Number = int(input(" Enter a Number: "))
Reverse = 0
while(Number > 0):
    Reminder = Number %10
    Reverse = (Reverse *10) + Reminder
    Number = Number //10

print("\n Reverse of entered number is = %d" %Reverse)

 Enter a Number: 345

 Reverse of entered number is = 543

In [ ]:
program 20

In [ ]:
base_number = int(input("Enter the base number"))
exponent = int(input("Enter the exponent"))

power = base_number ** exponent
print("Result is =",power)

Enter the base number2
Enter the exponent5
Result is = 32

In [ ]:
program 21

In [7]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    d=n%10
    rev=rev*10+d
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number is not a palindrome!")

Enter number:234
The number is not a palindrome!